.Recipe-Card {
  background-color: $card-bg;
  border: 2px solid $card-border;
  border-radius: 5px;
  display: grid;
  font-family: $body-font;
  grid-template-areas: "name name img"
  "ing ing img"
  "inst inst inst"
  "link yt .";
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  padding: 1rem;
  width: 40%;

  h5 {
    font-family: $fancy-font;
    font-size: 1.5rem;
    grid-area: name;
    margin: 0;
  }

  section {
    grid-area: ing;
  }

  .instr {
    grid-area: inst;
    max-height: 4rem;
    overflow: scroll;
  }

  .link {
    text-decoration: underline;
    grid-area: link;
    margin: auto;
    &:hover {
      color: $fave;
      cursor: pointer;
    }
  }

  .yt-link {
    cursor: pointer;
    grid-area: yt;
    width: 2.5rem;
    margin: auto;
  }

  .tags {
    color: $fave;
    font-weight: bolder;
    margin: auto;
  }

  .meal-pic {
    grid-area: img;
    width: 100%;
  }

  section p {

    margin: 0;

    span {
      font-weight: bolder;
      margin: 0 .5rem;
    }
  }
}