.Form {
  color: white;
  display: flex;
  flex-direction: row;
  grid-area: form;
  justify-content: space-around;
    
  .Dropdown-control {
    background-color: $fave;
    border: 1px solid transparent;
    color: white;
    font-family: $body-font;
    min-width: 15rem;
  }
  .Dropdown-menu {
    background-color: $fave;
    border: 2px solid $accent;
    border-radius: 0 0 3px 3px;
    color: white;
    font-family: $body-font;
  }

  .Dropdown-option {
    color: white;

    &:hover {
      background-color: $accent;
      color: white;
    }
  }
}