.Form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .dropdown {
    background-color: $fave;
    border: 3px solid $accent;
    color: white;

    option {
      color: white;


      &:hover {
        background-color: $accent;
      }
    }
  }
}