.NoMatch {
  text-align: center;

  h3 {
    font-family: $fancy-font;
    font-size: 2rem;
  }

  button {
    background-color: $fave;
    border: 2px solid $accent;
    border-radius: 3px;
    color: white;
    display: block;
    font-family: $body-font;
    font-size: 1rem;
    margin: auto;
    text-decoration: none;

    &:hover {
      background-color: $accent;
      border: 2px solid $fave;
      text-decoration: underline;
    }
  }

  .back-btn {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}