//fonts
$fancy-font: 'Pacifico', cursive;
$body-font: 'Open Sans', sans-serif;


//colors
$fave: hsl(353, 67%, 51%);
$accent: hsl(2, 57%, 35%);
$card-border: hsl(35, 100%, 60%);
$vegan-key: hsl(96, 82%, 35%);
$vegetarian-key: hsl(58, 88%, 40%);
$card-shadow: #685243;
$card-bg: #dddc;

//animations
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}