//fonts
$fancy-font: 'Pacifico', cursive;
$body-font: 'Josefin Slab', serif;


//colors
$fave: #D62E42;
$accent: #8D2A27;
$card-border: #FFAA33;
$vegan-key: #49A010;
$vegetarian-key: #BFB80C;


//animations